In [ ]:
pip install re

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re

In [2]:
from io import StringIO

In [3]:
kaggle = pd.read_csv("wiki_movie_plots_deduped.csv")
col_name = ["Movie_num", "1", "Title", "2", "3", "4", "5", "6", "Genre"]
movie_metadata = pd.read_table("MovieSummaries/movie.metadata.tsv", names = col_name)
col_name = ["Movie_num", "Plot"]
plot_summaries = pd.read_csv("MovieSummaries/plot_summaries.txt", sep='\t', header=0, names = col_name)

In [4]:
"""with open('movieqa/knowledge_source/wiki.txt') as f:
    data = f.read().replace('\n',',').replace(',,','\n')
    
a = re.sub(r'[,][3-9]', '',data)    
testdata = StringIO(a)
fb_wiki = pd.read_csv(testdata, sep="\n", names = ['Title'])
fb_wiki[['Title','Plot']] = fb_wiki.Title.str.split(",2 ",expand=True,)
fb_wiki['Title'] = fb_wiki['Title'].str[2:]"""

'with open(\'movieqa/knowledge_source/wiki.txt\') as f:\n    data = f.read().replace(\'\n\',\',\').replace(\',,\',\'\n\')\n    \na = re.sub(r\'[,][3-9]\', \'\',data)    \ntestdata = StringIO(a)\nfb_wiki = pd.read_csv(testdata, sep="\n", names = [\'Title\'])\nfb_wiki[[\'Title\',\'Plot\']] = fb_wiki.Title.str.split(",2 ",expand=True,)\nfb_wiki[\'Title\'] = fb_wiki[\'Title\'].str[2:]'

In [5]:
#fb_wiki

In [6]:
kaggle

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...
...,...,...,...,...,...,...,...,...
34881,2014,The Water Diviner,Turkish,Director: Russell Crowe,Director: Russell Crowe\r\nCast: Russell Crowe...,unknown,https://en.wikipedia.org/wiki/The_Water_Diviner,"The film begins in 1919, just after World War ..."
34882,2017,Çalgı Çengi İkimiz,Turkish,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir",comedy,https://en.wikipedia.org/wiki/%C3%87alg%C4%B1_...,"Two musicians, Salih and Gürkan, described the..."
34883,2017,Olanlar Oldu,Turkish,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru",comedy,https://en.wikipedia.org/wiki/Olanlar_Oldu,"Zafer, a sailor living with his mother Döndü i..."
34884,2017,Non-Transferable,Turkish,Brendan Bradley,"YouTubers Shanna Malcolm, Shira Lazar, Sara Fl...",romantic comedy,https://en.wikipedia.org/wiki/Non-Transferable...,The film centres around a young woman named Am...
34885,2017,İstanbul Kırmızısı,Turkish,Ferzan Özpetek,"Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, ...",romantic,https://en.wikipedia.org/wiki/%C4%B0stanbul_K%...,The writer Orhan Şahin returns to İstanbul aft...

In [7]:
kaggle.iloc[13984]

Release Year                                                     2002
Title                                                        13 Moons
Origin/Ethnicity                                             American
Director                                           Alexandre Rockwell
Cast                  Jennifer Beals, Elizabeth Bracco, Steve Buscemi
Genre                                                   comedy, drama
Wiki Page                      https://en.wikipedia.org/wiki/13_Moons
Plot                The film opens with a clown (Buscemi) whose wi...
Name: 13984, dtype: object

In [8]:
movie_metadata

,Movie_num,1,Title,2,3,4,5,6,Genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [9]:
merged_df = plot_summaries.merge(movie_metadata, how = 'inner', on = ['Movie_num'])

In [10]:
merged_df

,Movie_num,Plot,1,Title,2,3,4,5,6,Genre
0,31186339,The nation of Panem consists of a wealthy Capi...,/m/0gkz15s,The Hunger Games,2012-03-12,686533290.0,142.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/03btsm8"": ""Action/Adventure"", ""/m/06n90"":..."
1,20663735,Poovalli Induchoodan is sentenced for six yea...,/m/051zjwb,Narasimham,2000,NaN,175.0,"{""/m/0999q"": ""Malayalam Language""}","{""/m/03rk0"": ""India""}","{""/m/04t36"": ""Musical"", ""/m/02kdv5l"": ""Action""..."
2,2231378,"The Lemon Drop Kid , a New York City swindler,...",/m/06xtz3,The Lemon Drop Kid,1951-03-08,2300000.0,91.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06qm3"": ""Screwball comedy"", ""/m/01z4y"": ""..."
3,595909,Seventh-day Adventist Church pastor Michael Ch...,/m/02tqm5,A Cry in the Dark,1988-11-03,6908797.0,121.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
4,5272176,The president is on his way to give a speech. ...,/m/0dbxtv,End Game,2006,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/01jfsb"": ""Thriller"", ""/m/03btsm8"": ""Actio..."
...,...,...,...,...,...,...,...,...,...,...
42198,34808485,"The story is about Reema , a young Muslim scho...",/m/0j3dcl6,Oomakkuyil Padumbol,2012-02-17,NaN,NaN,"{""/m/0999q"": ""Malayalam Language""}","{""/m/03rk0"": ""India""}","{""/m/0bj8m2"": ""Children's""}"
42199,1096473,"In 1928 Hollywood, director Leo Andreyev look...",/m/045pct,The Last Command,1928,NaN,88.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/06ppq"": ""Silent film"", ""/m/0219x_"": ""Indi..."
42200,35102018,American Luthier focuses on Randy Parsons’ tra...,/m/0j6777g,Randy Parsons: American Luthier,2011-10-04,NaN,8.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/04rlf"": ""Music..."
42201,8628195,"Abdur Rehman Khan , a middle-aged dry fruit se...",/m/04f7jfs,Kabuliwala,1961-12-14,NaN,134.0,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/07s9rl0"": ""Drama""}"
42202,6040782,1940 - Operation Dynamo has just taken place. ...,/m/0fm00m,Dad's Army,1971-03-12,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01z4y"": ""Comedy""}"

In [11]:
CMU = merged_df.filter(['Title','Plot','Genre'], axis=1)

In [12]:
len(CMU)

42203

In [13]:
CMU

,Title,Plot,Genre
0,The Hunger Games,The nation of Panem consists of a wealthy Capi...,"{""/m/03btsm8"": ""Action/Adventure"", ""/m/06n90"":..."
1,Narasimham,Poovalli Induchoodan is sentenced for six yea...,"{""/m/04t36"": ""Musical"", ""/m/02kdv5l"": ""Action""..."
2,The Lemon Drop Kid,"The Lemon Drop Kid , a New York City swindler,...","{""/m/06qm3"": ""Screwball comedy"", ""/m/01z4y"": ""..."
3,A Cry in the Dark,Seventh-day Adventist Church pastor Michael Ch...,"{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
4,End Game,The president is on his way to give a speech. ...,"{""/m/01jfsb"": ""Thriller"", ""/m/03btsm8"": ""Actio..."
...,...,...,...
42198,Oomakkuyil Padumbol,"The story is about Reema , a young Muslim scho...","{""/m/0bj8m2"": ""Children's""}"
42199,The Last Command,"In 1928 Hollywood, director Leo Andreyev look...","{""/m/06ppq"": ""Silent film"", ""/m/0219x_"": ""Indi..."
42200,Randy Parsons: American Luthier,American Luthier focuses on Randy Parsons’ tra...,"{""/m/02hmvc"": ""Short Film"", ""/m/04rlf"": ""Music..."
42201,Kabuliwala,"Abdur Rehman Khan , a middle-aged dry fruit se...","{""/m/07s9rl0"": ""Drama""}"
42202,Dad's Army,1940 - Operation Dynamo has just taken place. ...,"{""/m/01z4y"": ""Comedy""}"

In [14]:
temp = CMU['Genre'].str.lower()
temp

0        {"/m/03btsm8": "action/adventure", "/m/06n90":...
1        {"/m/04t36": "musical", "/m/02kdv5l": "action"...
2        {"/m/06qm3": "screwball comedy", "/m/01z4y": "...
3        {"/m/0lsxr": "crime fiction", "/m/07s9rl0": "d...
4        {"/m/01jfsb": "thriller", "/m/03btsm8": "actio...
                               ...
42198                          {"/m/0bj8m2": "children's"}
42199    {"/m/06ppq": "silent film", "/m/0219x_": "indi...
42200    {"/m/02hmvc": "short film", "/m/04rlf": "music...
42201                              {"/m/07s9rl0": "drama"}
42202                               {"/m/01z4y": "comedy"}
Name: Genre, Length: 42203, dtype: object

In [15]:
result = temp.str.findall(pat = '([a-zA-Z]{5,})')

In [16]:
CMU['Genre'] = result

In [17]:
CMU['Plot'] = CMU['Plot'].str.replace('{{plot}}', '.\b').str.lstrip()

In [18]:
CMU['Plot'] = CMU['Plot'].str.replace('{{Plot}}', '').str.lstrip()

In [19]:
CMU

,Title,Plot,Genre
0,The Hunger Games,The nation of Panem consists of a wealthy Capi...,"[action, adventure, science, fiction, action, ..."
1,Narasimham,Poovalli Induchoodan is sentenced for six yea...,"[musical, action, drama, bollywood]"
2,The Lemon Drop Kid,"The Lemon Drop Kid , a New York City swindler,...","[screwball, comedy, comedy]"
3,A Cry in the Dark,Seventh-day Adventist Church pastor Michael Ch...,"[crime, fiction, drama, docudrama, world, cine..."
4,End Game,The president is on his way to give a speech. ...,"[thriller, action, adventure, action, drama]"
...,...,...,...
42198,Oomakkuyil Padumbol,"The story is about Reema , a young Muslim scho...",[children]
42199,The Last Command,"In 1928 Hollywood, director Leo Andreyev look...","[silent, indie, black, white, period, piece, d..."
42200,Randy Parsons: American Luthier,American Luthier focuses on Randy Parsons’ tra...,"[short, music, biographical, documentary]"
42201,Kabuliwala,"Abdur Rehman Khan , a middle-aged dry fruit se...",[drama]
42202,Dad's Army,1940 - Operation Dynamo has just taken place. ...,[comedy]

In [20]:

new_kaggle = kaggle.filter(['Title','Plot','Genre'], axis=1)

In [21]:
len(new_kaggle)

34886

In [22]:
#final = new_kaggle_data.append([kaggle_data,CMU,fb_wiki])

In [23]:
#testdata = new_kaggle.iloc[:10000]
#kaggle_data = new_kaggle.iloc[10000:]

In [24]:
#testdata.to_csv('movie_plot_train.csv', header=False, index=False)

In [25]:
new_kaggle

,Title,Plot,Genre
0,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",unknown
1,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",unknown
2,The Martyred Presidents,"The film, just over a minute long, is composed...",unknown
3,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,unknown
4,Jack and the Beanstalk,The earliest known adaptation of the classic f...,unknown
...,...,...,...
34881,The Water Diviner,"The film begins in 1919, just after World War ...",unknown
34882,Çalgı Çengi İkimiz,"Two musicians, Salih and Gürkan, described the...",comedy
34883,Olanlar Oldu,"Zafer, a sailor living with his mother Döndü i...",comedy
34884,Non-Transferable,The film centres around a young woman named Am...,romantic comedy
34885,İstanbul Kırmızısı,The writer Orhan Şahin returns to İstanbul aft...,romantic

In [26]:
new_kaggle['Genre'] = new_kaggle['Genre'].str.split(', ')
new_kaggle['Genre'] = new_kaggle['Genre'].str.split('/ ')

In [27]:
new_kaggle.iloc[13984]

Title                                             13 Moons
Plot     The film opens with a clown (Buscemi) whose wi...
Genre                                                  NaN
Name: 13984, dtype: object

In [28]:
result = pd.concat([new_kaggle,CMU],axis=0)

In [29]:
result

,Title,Plot,Genre
0,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",NaN
1,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",NaN
2,The Martyred Presidents,"The film, just over a minute long, is composed...",NaN
3,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,NaN
4,Jack and the Beanstalk,The earliest known adaptation of the classic f...,NaN
...,...,...,...
42198,Oomakkuyil Padumbol,"The story is about Reema , a young Muslim scho...",[children]
42199,The Last Command,"In 1928 Hollywood, director Leo Andreyev look...","[silent, indie, black, white, period, piece, d..."
42200,Randy Parsons: American Luthier,American Luthier focuses on Randy Parsons’ tra...,"[short, music, biographical, documentary]"
42201,Kabuliwala,"Abdur Rehman Khan , a middle-aged dry fruit se...",[drama]
42202,Dad's Army,1940 - Operation Dynamo has just taken place. ...,[comedy]

In [30]:
result.sort_values("Title", inplace = True) 
dropped_data = result.drop_duplicates(['Title'], keep='first')
#dropped_data.drop_duplicates(['Plot'], keep='first')

In [31]:
dropped_data

,Title,Plot,Genre
28635,Avarude Raavukal,It’s a story woven around 3 youngsters and the...,NaN
28636,Role Models,The film opens with Gautham being not a social...,NaN
15568,(500) Days of Summer,The film is presented in a nonlinear narrative...,NaN
14795,.45,"Big Al (Angus Macfadyen), and his girlfriend K...",NaN
15122,10 MPH,10 MPH follows the progress of Caldwell as he ...,NaN
...,...,...,...
34174,Цветок дьявола,The main heroine of the picture Polina is purs...,NaN
1741,…All the Marbles,Harry becomes manager of a tag team of gorgeou...,"[drama, comedy, drama, comedy]"
12889,…First Do No Harm,The film tells a story in the life of a Midwes...,NaN
7622,…men Olsenbanden var ikke død,The gang is residing on a luxury yacht in Mont...,"[crime, fiction, comedy]"
32236,₤500 Reward,"A ""five-act"" drama about a couple who travel f...",[silent]

In [32]:
new_data = dropped_data.drop_duplicates(['Plot'], keep='first')
new_data.loc[new_data['Genre'].isnull(),['Genre']] = new_data.loc[new_data['Genre'].isnull(),'Genre'].apply(lambda x: [])
new_data['Genre'] = new_data['Genre'].apply(lambda x: list(set(x)))

/usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
new_data

,Title,Plot,Genre
28635,Avarude Raavukal,It’s a story woven around 3 youngsters and the...,[]
28636,Role Models,The film opens with Gautham being not a social...,[]
15568,(500) Days of Summer,The film is presented in a nonlinear narrative...,[]
14795,.45,"Big Al (Angus Macfadyen), and his girlfriend K...",[]
15122,10 MPH,10 MPH follows the progress of Caldwell as he ...,[]
...,...,...,...
34174,Цветок дьявола,The main heroine of the picture Polina is purs...,[]
1741,…All the Marbles,Harry becomes manager of a tag team of gorgeou...,"[drama, comedy]"
12889,…First Do No Harm,The film tells a story in the life of a Midwes...,[]
7622,…men Olsenbanden var ikke død,The gang is residing on a luxury yacht in Mont...,"[comedy, fiction, crime]"
32236,₤500 Reward,"A ""five-act"" drama about a couple who travel f...",[silent]

In [34]:
new_data = new_data.sample(frac=1)
new_data

,Title,Plot,Genre
26293,Caliche sangriento,A group of 17 Chilean soldiers is marching thr...,[]
21967,"Reigo, the Deep-Sea Monster vs. the Battleship...","In September 1942, Captain Yamagami is ordere...","[japanese, movies, tokusatsu]"
28142,The Lady Takes a Sailor,"Jennifer Smith heads a ""Consumer Reports""-typ...",[comedy]
3762,Moseka,"Moseka, a young woman from Zaire, travels to E...","[short, documentary]"
27376,They Call Us Misfits,"The film begins with an interview with Tompa, ...",[documentary]
...,...,...,...
23161,Because You're Mine,Opera singer superstar Renato Rossano is draft...,"[romance, musical]"
29658,Thooral Ninnu Pochchu,The movie portrays social conditions like dowr...,[]
21550,The Martian,"In 2035, the crew of the Ares III mission to M...",[]
19461,"Right Here, Right Now",A young man in his haste to go some place take...,[short]
6772,From Hell It Came,A South Seas island prince is wrongly convicte...,[]

In [35]:
selection = ['horror']

horror = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_horror = new_data[horror]
genre_horror

horror_test_data = genre_horror.iloc[:300]
horror_train_data = genre_horror.iloc[300:]

horror_test_data.to_csv("Genre_horror_test.csv")
horror_train_data.to_csv("Genre_horror_train.csv")

horror_test_data['Plot'].to_csv('horror_test_plot.txt', sep='\n', index=False)
horror_train_data['Plot'].to_csv('horror_train_plot.txt', sep='\n', index=False)

#genre_horror.to_csv("Genre_horror.csv")
#genre_horror['Plot'].to_csv('Genre_horror_plot.txt', sep='\n', index=False)

In [36]:
selection = ['comedy']

comedy = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_comedy = new_data[comedy]

genre_comedy

comedy_test_data = genre_comedy.iloc[:300]
comedy_train_data = genre_comedy.iloc[300:]

comedy_test_data.to_csv("Genre_comedy_test.csv")
comedy_train_data.to_csv("Genre_comedy_train.csv")

comedy_test_data['Plot'].to_csv('comedy_test_plot.txt', sep='\n', index=False)
comedy_train_data['Plot'].to_csv('comedy_train_plot.txt', sep='\n', index=False)


comedy_test_data
#genre_comedy.to_csv("Genre_comedy.csv")
#genre_comedy['Plot'].to_csv('Genre_comedy_plot.txt', sep='\n', index=False)

,Title,Plot,Genre
28142,The Lady Takes a Sailor,"Jennifer Smith heads a ""Consumer Reports""-typ...",[comedy]
36630,Sound Off,An obnoxious nightclub comedian at Ciro's is d...,[comedy]
40977,Thanassakis o politevomenos,A young girl from a great cod fishers that ret...,[comedy]
17651,Night of the Living Doo,Scooby Doo and the Mystery Inc. gang pick up h...,"[short, adventure, horror, comedy, animation]"
7988,Cat And Mouse,Zhan Zhao is a court officer who learns of a ...,"[adventure, drama, movies, action, comedy, wor..."
...,...,...,...
7198,I Not Stupid,The film's storyline revolves around the lives...,"[drama, comedy]"
18460,Bernard and Doris,"In 1987, Doris Duke, considered the wealthiest...","[biographical, drama, biopic, comedy, feature,..."
2533,Waxwork II: Lost in Time,The film opens with a reenactment of final sce...,"[horror, zombie, comedy]"
33716,Little Red Rodent Hood,A grandmother mouse is telling her granddaught...,"[short, family, animation, comedy]"
2520,Lily in Love,"Plummer plays Fitz Wynn, a truly talented but ...","[romance, drama, comedy]"

In [45]:
selection = ['romance','romantic']

romance = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_romance = new_data[romance]

genre_romance

romance_test_data = genre_romance.iloc[:470]
romance_train_data = genre_romance.iloc[470:]

romance_test_data.to_csv("Genre_romance_test.csv")
romance_train_data.to_csv("Genre_romance_train.csv")

romance_test_data['Plot'].to_csv('romance_test_plot.txt', sep='\n', index=False)
romance_train_data['Plot'].to_csv('romance_train_plot.txt', sep='\n', index=False)


romance_test_data

,Title,Plot,Genre
7988,Cat And Mouse,Zhan Zhao is a court officer who learns of a ...,"[adventure, drama, movies, action, comedy, wor..."
34238,Rechipo,"Siva , a modern day Robinhood who steals money...",[romance]
21200,My Chauffeur,Casey Meadows is a free-spirited young woman w...,"[indie, romance, romantic, comedy]"
39097,Cannery Row,The story is about the skid row citizens of Mo...,"[americana, adaptation, drama, comedy, romance]"
22955,Vigathakumaran,"Chandrakumar, son of a rich man in Trivandrum ...","[romance, drama, action]"
...,...,...,...
32897,The Romantic President,"The story starts with Young-hee, who was being...","[romance, drama, comedy]"
1772,Always and Forever,"A pair of high school sweethearts, Grace and ...","[romance, drama, comedy]"
29992,Kaiyethum Doorath,Sachin Madhavan comes to a hill station where...,"[romance, drama]"
20613,The Affairs of Anatol,"Socialite Anatol Spencer , finding his relatio...","[drama, marriage, romance, comedy, silent, ind..."
23558,A Guide for the Married Man,Paul Manning discovers one day that his dear f...,"[domestic, romance, romantic, comedy]"

In [ ]:
"""
comedy_test_data = genre_comedy.iloc[:470]
comedy_train_data = genre_comedy.iloc[470:]

comedy_test_data.to_csv("Genre_comedy_test.csv")
comedy_train_data.to_csv("Genre_comedy_train.csv")

comedy_test_data['Plot'].to_csv('comedy_test_plot.txt', sep='\n', index=False)
comedy_train_data['Plot'].to_csv('comedy_train_plot.txt', sep='\n', index=False)


comedy_test_data"""

In [63]:
selection = ['romance', 'comedy']

romcom = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_romcom = new_data[romcom]

romcom_test_data = genre_romcom.iloc[:1100]
romcom_train_data = genre_romcom.iloc[1100:]

romcom_test_data.to_csv("Genre_romcom_test.csv")
romcom_train_data.to_csv("Genre_romcom_train.csv")

romcom_test_data['Plot'].to_csv('romcom_test_plot.txt', sep='\n', index=False)
romcom_train_data['Plot'].to_csv('romcom_train_plot.txt', sep='\n', index=False)

romcom_train_data

,Title,Plot,Genre
13908,The Karate Dog,{{Expand section}} A talking dog named Cho Cho...,"[crime, fiction, family, action, comedy]"
25892,Hudson Hawk,"Eddie ""Hudson Hawk"" Hawkins &nbsp;—&nbsp; ""Hud...","[crime, caper, fiction, action, adventure, par..."
20530,Phffft!,Nina and Robert Tracey are a couple who have ...,"[black, screwball, romance, romantic, white, c..."
28247,Thakshak,A poetic romance between Ishaan and Suman ([[...,"[bollywood, action, adventure, romance, world,..."
15617,New World,The 1950s in France. Patrick Carrion is a you...,"[romance, world, cinema, romantic, drama]"
...,...,...,...
6113,On Moonlight Bay,On Moonlight Bay centers on the character Marj...,"[musical, romance, comedy, romantic]"
23698,Tengers,The film opens with Rob’s mistaken arrest for ...,"[motion, black, animation, world, cinema, dram..."
17765,Konchem Koththaga,A girl lives in a bungalow. She spends time r...,"[thriller, romance]"
22476,Just One of the Girls,"Summer is over and 16-year-old Chris , who is ...","[romance, romantic, sports, errors, comedy]"
4185,The Banger Sisters,When Suzette is fired from her job as bartend...,"[buddy, drama, comedy]"

In [64]:
selection = ['thriller', 'horror']

thrilhor = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_thrilhor = new_data[thrilhor]

thrilhor_test_data = genre_thrilhor.iloc[:600]
thrilhor_train_data = genre_thrilhor.iloc[600:]

thrilhor_test_data.to_csv("Genre_thrilhor_test.csv")
thrilhor_train_data.to_csv("Genre_thrilhor_train.csv")

thrilhor_test_data['Plot'].to_csv('thrilhor_test_plot.txt', sep='\n', index=False)
thrilhor_train_data['Plot'].to_csv('thrilhor_train_plot.txt', sep='\n', index=False)

thrilhor_train_data

,Title,Plot,Genre
20753,Travelling Salesman,The four mathematicians are gathered and meet ...,"[science, fiction, thriller, mystery]"
39214,205 – Room of Fear,19-year-old student Katrin is thrilled to be o...,"[drama, horror]"
21401,Sherlock Holmes and the Voice of Terror,The film begins with a title card describing H...,"[crime, black, fiction, thriller, detective, w..."
25235,State of Play,"One night, a thief fleeing through Georgetown ...","[crime, thriller, political, wtdps, mystery, d..."
23925,Banzai Runner,A yearly every-man-for-himself car race is sta...,"[action, adventure, thriller, racing, indie, s..."
...,...,...,...
4240,Deathwatch,". During World War 1, a company of British so...","[period, thriller, piece, supernatural, horror]"
5380,Tail Sting,In Australia a hijack attempt is made on a van...,"[action, adventure, thriller, films, natural, ..."
38201,Pilgrim,Jack awakes with amnesia in the middle of the...,"[crime, thriller, indie, wtdps, mystery]"
17765,Konchem Koththaga,A girl lives in a bungalow. She spends time r...,"[thriller, romance]"
17182,Maniac Cop,Innocent people are being brutally murdered on...,"[action, adventure, thriller, slasher, indie, ..."

In [54]:
selection = ['romance']

romance = new_data.Genre.apply(lambda x: any(item for item in selection if item in x))
genre_romance = new_data[romance]

genre_romance

romance_test_data = genre_romance.iloc[:300]
romance_train_data = genre_romance.iloc[300:]

romance_test_data.to_csv("Genre_romance_test.csv")
romance_train_data.to_csv("Genre_romance_train.csv")

romance_test_data['Plot'].to_csv('romance_test_plot.txt', sep='\n', index=False)
romance_train_data['Plot'].to_csv('romance_train_plot.txt', sep='\n', index=False)

romance_test_data

#genre_romance.to_csv("Genre_romance.csv")
#genre_romance['Plot'].to_csv('Genre_romance_plot.txt', sep='\n', index=False)

,Title,Plot,Genre
36438,A Pure Country Gift,Bobbie has a naturally beautiful voice and le...,"[drama, romantic, romance]"
23123,Sanam Teri Kasam,Vijay Verma is a rich and zahid a selfish pla...,"[action, romance, drama]"
23843,Port of Call,"Berit, a young woman living in a working-class...","[black, romance, world, cinema, romantic, dram..."
38678,Naan Thaan,The film begins with elderly Krishnan returni...,"[biographical, drama, romance]"
38860,Dash and Lilly,The lives of Dashiell Hammett and Lillian Hel...,"[biopic, period, romance, piece, romantic, dra..."
...,...,...,...
34514,Detective Story,Naomi is a rich university student about to le...,"[romance, mystery]"
37861,All About My Wife,"After seven years of marriage, mild-mannered D...","[romance, comedy]"
24897,Once Upon A Time In Mumbai,The film opens with a suicide attempt by ACP A...,"[crime, fiction, romance, world, cinema, drama]"
12120,Captive Hearts,"Shot down over 1944 wartime Japan, an American...","[movies, romance, japanese, romantic, drama]"
29974,"America, America","In this tale, loosely based upon the life of K...","[romance, white, black, drama]"

In [39]:
genre_romance

,Title,Plot,Genre
36438,A Pure Country Gift,Bobbie has a naturally beautiful voice and le...,"[drama, romantic, romance]"
23123,Sanam Teri Kasam,Vijay Verma is a rich and zahid a selfish pla...,"[action, romance, drama]"
23843,Port of Call,"Berit, a young woman living in a working-class...","[black, romance, world, cinema, romantic, dram..."
38678,Naan Thaan,The film begins with elderly Krishnan returni...,"[biographical, drama, romance]"
38860,Dash and Lilly,The lives of Dashiell Hammett and Lillian Hel...,"[biopic, period, romance, piece, romantic, dra..."
...,...,...,...
5583,The Happy Hooker,A group of prostitutes are brought in to a New...,"[adaptation, romance, romantic, drama, comedy]"
21614,You Are Mine Eternally,Krishna ([[Rahul Banerjee is a diligent scoot...,[romance]
6113,On Moonlight Bay,On Moonlight Bay centers on the character Marj...,"[musical, romance, comedy, romantic]"
17765,Konchem Koththaga,A girl lives in a bungalow. She spends time r...,"[thriller, romance]"
22476,Just One of the Girls,"Summer is over and 16-year-old Chris , who is ...","[romance, romantic, sports, errors, comedy]"

In [40]:

new_data['Genre'].apply(pd.Series).stack().value_counts()

drama          13662
comedy          9243
fiction         4678
thriller        4592
action          4486
               ...
netherlands        1
werewolf           1
silhouette         1
company            1
linguistics        1
Length: 324, dtype: int64

In [41]:
test_data = new_data.iloc[:10000]
train_data = new_data.iloc[10000:]

In [42]:
test_data

,Title,Plot,Genre
11737,Together Alone,Bryan meets a man called Bill in a bar. They g...,[]
7313,The Young Philadelphians,Newlywed Kate Judson Lawrence (Diane Brewster)...,[]
21348,Il Giorno prima,This story takes place when they experience th...,"[thriller, drama]"
32293,The Intelligence Men,Eric is happily serving espresso in his London...,"[action, adventure, parody, mystery, comedy]"
17036,Mismatched Couples,Eddie is a martial artist and hip hop dancer....,"[movies, chinese]"
...,...,...,...
18217,Ground Truth,The film addresses the issues many soldiers fa...,"[cshrf, cinema, documentary, political]"
7236,Juke Box Rhythm,"Preparing for her coronation, Princess Ann fli...",[]
16966,Furious 7,After defeating Owen Shaw and his crew and sec...,[]
32053,Ravoyi Chandamama,Sashi (Nagarjuna Akkineni) is an accomplished ...,[]
4226,Duel in the Sun,Pearl Chavez (Jennifer Jones) is orphaned afte...,[]

In [43]:
train_data

,Title,Plot,Genre
21932,Ballot Box Bunny,Yosemite Sam is running for mayor of a small t...,[comedy]
7069,The Man Who Died Twice,Lynn Brennon learns that her husband of three ...,[]
9460,Comes a Horseman,It's the early 1940s in the American west. Rut...,[]
24408,Kundan,The film starts with Kundan (Sohrab Modi) stea...,[]
11319,Anvil! The Story of Anvil,The film begins by listing the headlining acts...,"[documentary, rockumentary, music, biography]"
...,...,...,...
27838,Shifting Gears: A Bisexual Transmission,The boss of a car shop is in dire need of a g...,"[pornographic, movie, pornography]"
16986,Maggie,"In the present-day Midwestern United States, s...",[]
17182,Maniac Cop,Innocent people are being brutally murdered on...,"[action, adventure, thriller, slasher, indie, ..."
9729,Ahead of the Class,Marie Stubbs is a diminutive Glaswegian headmi...,[drama]
4185,The Banger Sisters,When Suzette is fired from her job as bartend...,"[buddy, drama, comedy]"

In [44]:
train_data.to_csv('movie_plot_train_data.csv', header=False, index=False)

In [45]:
test_data.to_csv('movie_plot_test_data.csv', header=False, index=False)

In [46]:
train_data['Plot'].to_csv('train_plot.txt', sep='\n', index=False)

In [47]:
test_data['Plot'].to_csv('test_plot.txt', sep='\n', index=False)